
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(270deg , rgba(182, 59, 2, 0.637), rgba(230, 32, 65, 0.877));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.instruction{
    color: white;
    font-family: Arial;
    width :100%;
    text-align: center;
}
.container{
    display: grid;
    height: 80vh;
    place-items: center;
}
.Yes-container, .No-container{
   display: flex;
   justify-content: center;
   height: 100vh;
   flex-direction: column;
   text-align: center;
}
.No-container button {
    padding: 20px;
    border: none;
    margin-top: 20px;
    border-radius: 30px;
    font-family: Arial;
    box-shadow: 0 0 15px black;
    font-size: 20px;
}
.No-container button a{
    color: black;
}
.second, .third,.fourth{
    display: none;
}
.Yes-container img , .No-container img{
    width: 300px;
    box-shadow: 0 0 5px black;
}
.container .envelope-wrapper{
    background: #f5edd1;
    position:relative;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.87);
}
.container .envelope-wrapper .envelope-container{
    position: relative;
    width: 300px;
    height: 230px;
}
.envelope-container . envelope{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  
}
.envelope-wrapper .envelope::before{
    content: '';
    position: absolute;
    border-top: 130px solid #ecdeb8;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    top: 0;
    transform-origin: top;
    z-index: 0;
    transition: transform 0.2s ease-in-out;
    transform: rotateX(180deg);
    
}
.envelope-wrapper .envelope::after{
    content: '';
    position: absolute;
    z-index: 2;
    border-top: 130px solid transparent;
    border-right: 150px solid #e6cfa7;
    border-left: 150px solid #e6cfa7;
    border-bottom: 100px solid #e6cfa7;
    bottom: 0;

}
.letter{
    position: absolute;
    right: 20%;
    bottom: 200px;
    width: 54%;
    height: 60%;
    background: white;
    transition: all 1s ease-in;
    padding: 20px 10px;
    box-shadow: 0 0 5px black;
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 10px;
    font-family: sans-serif;
    transform: scale(1.2);
  
}
.btn button{
    padding: 12px 20px;
    margin-top: 10px;
    background: pink;
    border: none;
    color: white;
    font-weight: 600;
    box-shadow: 1px 1px 10px black;
    border-radius: 30px;
    cursor: pointer;
}
.btn button:not(:last-child){
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.heart{

position: absolute;
    height: 20px;
    width: 20px;
    background: rgb(255, 0, 43);
    top: 50%;
    left: 47%;
    
    transform: translate(-50%, -50%) rotate(45deg);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 5px black;
    z-index: 4;
    cursor: pointer;
    outline: none;
    transform: rotate(90deg);
    
}
.heart::before, .heart::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background:rgb(255, 0, 43);
    border-radius: 50%;
}
.heart::after{
    right: 10px;
}
.heart::before{
    top: -10px;
}
.flap .envelope::before{
    z-index: 2;
    transform: rotateX(0deg);
    transition: all 4s ease-in-out;
    
    
    
}
.flap .envelope .letter{
    bottom: 20px;
    transition: all 1.5s ease-in-out;
    

}
.flap .heart{
 transform: rotate(45deg);
    transition-delay: 4s;
}
